<html>
    <head>
        <title>Message Details</title>
    </head>
    <body>
        <p>Sender: <%= message.username || "Anonymous" %> | Message: <%= message.msg %> | Date: <%= message.created %></p>
    </body>
</html>