<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <%- include("partials/errors.ejs") %>
        <form method="POST" action="/message">
            <input type="text" name="message" placeholder="message" minlength="1" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>